<div class = "row">
	<div id="login-area" class="col-sm-6 col-md-6 text-center">
		
			<form class="login-form" method = "post" action = "/api/login">
				<div class="form-group">
			        <label for="email">Email address</label>
			        <input type="email" class="form-control input-lg" name ="useremail" id="useremail" placeholder="Email Address" required>
			    </div>
			    <div class="form-group">
			        <label for="password">Password</label>
			        <input type="password" class="form-control input-lg" name="password" id="password" placeholder="Password" required>
			    </div>
				
			     <button type="submit" class="btn btn-primary center-block red-button">LOG IN</button>

			</form>

		</div>
		<div id="first-time" class="col-sm-6 col-md-6 text-center">
			<p class ="text-center">First time here?<a class = '' href="/signup"><br><button class="red-button"> CREATE AN ACCOUNT</button></a></p>	
	</div> 