<div class = "row">
	<div class="col-md-offset-4 col-sm-4 col-md-4">
		
			<form method = "post" action = "/login">
				<div class="form-group">
			        <label for="email">Email address</label>
			        <input type="email" class="form-control input-lg" name = "useremail" id="useremail" placeholder="Email">
			    </div>
			    <div class="form-group">
			        <label for="password">Password</label>
			        <input type="password" class="form-control input-lg" name="password" id="password" placeholder="Password">
			    </div>

			     <button type="submit" class="btn btn-primary center-block">LOG IN</button>

			</form>

			<br />
			<p class ="text-center">Don't have an account?<a href="/signup">&nbsp; Sign Up</a></p>

			<p class ="text-center"><a href="/">&nbsp; Magic Prawns Home</a></p>

		
	</div> 