<div class = "row">
	<div class="col-md-offset-4 col-sm-4 col-md-4">
		
			<form class="login-form" method = "post" action = "/auth/login">
				<div class="form-group">
			        <label for="email">Email address</label>
			        <input type="email" class="form-control input-lg" name ="useremail" id="useremail" placeholder="Email Address">
			    </div>
			    <div class="form-group">
			        <label for="password">Password</label>
			        <input type="password" class="form-control input-lg" name="password" id="password" placeholder="Password">
			    </div>

			     <button type="submit" class="btn btn-primary center-block">LOG IN</button>

			</form>

			<br />
			<p class ="text-center">First time here?<a class = 'btn btn-primary' href="/auth/signup">CREATE AN ACCOUNT</a></p>	
	</div> 