h1 {
	color: #EFFFF3;
	font-family: 'Passion One', sans-serif;
	text-align: center;
	letter-spacing: 2px;
}

h2 {
	color: #EFFFF3;
	font-family: 'Montserrat', sans-serif;
}

h3 {
	color: #EFFFF3;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

p {
	color: #1E211F;
	font-family: 'Montserrat', sans-serif;
}

.dark-text-link {
	color: #1E211F;
	font-family: 'Montserrat', sans-serif;
	text-decoration: underline;
	font-size: 16px;
}

.input-label {
	color: #1E211F;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

.back-orange {
	background-color: #FFB523;
}

.back-teal {
	background-color: #4CBF9E;
}

.main-area {
	margin-top: 20px;
	border: 2px solid #FFB523;
}

.bord-orange {
	border: 2px solid #FFB523;
}

.footer {
	margin-top: 400px;
	background-color: #4CBF9E;
	color: #EFFFF3;
}

.no-top-marg {
	margin-top: 0px;
}

.light-text {
	color: #EFFFF3;
}

.small-head {
	margin: 0px 20px 10px 20px;
	padding: 10px 0px;
}

i {
	margin-bottom: 8px;
}

li {
	margin-bottom: 45px;
}

a {
	color: #EFFFF3;
	font-size: 18px;
}





.sid-nav-link:visited {
	text-decoration: none;
	color: #EFFFF3;
}

a:hover, a:focus {
	color: #4CBF9E;
	text-decoration: none;
}

.sid-nav-link:active {
	text-decoration: none;
	text-decoration-style: none;
	color: #EFFFF3;
}

#logout:hover {
	color: #9E1512;
	border: 2px solid #9E1512;

}

.red-button {
	display: inline-block;
  margin: 0 10px 0 0;
  padding: 5px 15px;
  font-size: 24px;
  font-family: "Passion One", sans-serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  background-color: #9E1512;
  color: #EFFFF3;
  width: 50%;
  letter-spacing: 2px;

}

.intro {
	color: #1E211F;
}

.red-button:hover, .red-button:focus, .red-button:active {
	box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
	background-color: #4CBF9E;
	outline: none;
}

.help-note {
	font-size: 14px;
	font-style: italic;
	color: #4CBF9E; 
}

#login-area {
	margin-top: 30px;
	border-right: 2px solid #FFB523;
	padding: 50px;
}

#first-time {
	margin-top: 30px;
	padding: 50px;
}

#logo {
	font-family: 'Maiden Orange', serif;
	font-size: 48px;
	color: #EFFFF3;
}

#logout {
	font-family: 'Maiden Orange', serif;
	display: inline-block;
  margin: 12px 10px 0 0;
  padding: 0px 15px;
  font-size: 28px;
  appearance: none;
  box-shadow: none;
  border: 2px solid #EFFFF3;
  background-color: #4CBF9E;
  color: #EFFFF3;
}

#farmTitle{
	text-transform: uppercase;
}

#scheduleTrip {
	width: 95%;
}

#scheduleTripBody, #animals-table, #farmInfo {
	padding: 30px;
}